<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
      <section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere" />
      <section name="options" type="CrystalQuartz.Web.Configuration.CrystalQuartzOptionsSection" requirePermission="false" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <crystalQuartz>
    <provider>
      <add property="Type" value="CrystalQuartz.Web.Demo.FakeProvider, CrystalQuartz.Web.Demo" />
    </provider>
    <options customCssUrl="/styles/mycustom_panel_styles.css">
    </options>
    <!--    <provider>-->
    <!--      <add property="Type" value="CrystalQuartz.Spring.SpringSchedulerProvider, CrystalQuartz.Spring" />-->
    <!--      <add property="SchedulerName" value="scheduler" />-->
    <!--    </provider>-->
  </crystalQuartz>


  <!--web-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--身份认证类型-->
    <authentication mode="Windows" />
    
    <httpHandlers>
      <!--网址: https://www.cnblogs.com/Rayblog/p/6394315.html-->
      <!--verb表示请求方法，如Get/Post  使用*则表示所以匹配所有-->
      <!--path表示URL匹配     如: .ray这表示该Handler会响应所以以".ray"结尾的URL请求-->
      <!--type指示Handler类的类型( 对应的类 需要继承IHttpHandler ) (格式: 命名空间.类名 , dll程序集名称)-->
      <!--validate: 验证-->
      <add verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" validate="false" />
    </httpHandlers>
    
    <!--控件呈现兼容性版本-->
    <!--客户端ID模式-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>

  <!--webServer-->
  <system.webServer>
    <!--验证集成模式配置-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalQuartzPanel" verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>

</configuration>